
<section class="quote py-5">
	<div class="container py-lg-5">
		<div class="row">
			<div class="col-lg-8">
				<h4>
					" 10'dan fazla proje yaparak kendimi geliştirdim. Yapacağınız projeler için beni gönül rahatlığıyla tercih edebilirsiniz."
				</h4>
				<h5>.Net Core MVC - .Net Core API</h5>
			</div>
		</div>
	</div>
</section>