
@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Client Personal Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Client Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- css files -->
	<link href="~/web/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
	<link href="~/web/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
	<link href="~/web/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<!-- //google fonts -->

</head>
<body>

	<!-- header -->
	<header>
		<nav class="navbar">
			<div class="container">
				<h1 class="wthree-logo">
					<a href="index.html" id="logoLink"><i class="fa fa-adjust"></i> <span>P</span>ortfolio</a>
				</h1>

				<!-- menu -->
				<ul id="menu">
					<li>
						<input id="check02" type="checkbox" name="menu" />
						<label for="check02"><span class="fa fa-bars" aria-hidden="true"></span></label>
						<ul class="submenu">
							<li><a href="index.html" class="active">Home</a></li>
							<li><a href="#about">Hakkımda</a></li>
							<li><a href="#services">Servislerim</a></li>
							<li><a href="#testimonials">Müşteriler</a></li>
							<li><a href="/AdminInfo/Index/">Admin Paneli</a></li>
						</ul>
					</li>
				</ul>
				<!-- //menu -->

			</div>
		</nav>
	</header>
	<!-- //header -->
	<!-- banner -->

	<!-- //banner -->
	<!-- about -->

	@RenderBody()

	<!-- //about -->
	<!-- services-->
	<!-- //services -->
	<!-- process -->
	<!-- //process -->
	<!-- quote -->

	<!-- //quote -->
	<!-- portfolio -->
	<!-- //portfolio -->
	<!--clients-->

	<!--//clients-->
	<!-- Contact -->
	<!-- //Contact -->
	<!-- footer -->
	<footer class="py-lg-5 py-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<h3 class="wthree-logo mt-3">
						<a href="index.html" id="logoLink1"><span class="fa fa-adjust"></span> <span>P</span>ortfolio</a>
					</h3>
				</div>
				<div class="col-lg-7 my-lg-0 my-4">
					<p class="mt-2"><span class="fa mr-2 fa-envelope"></span><a href="mailto:a.kaanyayla@gmail.com">a.kaanyayla@gmail.com</a>, <span class="fa ml-3 mr-2 fa-phone"></span>+90 555 555 55 55</p>
				</div>
				<div class="col-lg-3 copy-right p-0 text-lg-right">

					<p>Sosyal Medya Hesaplarım</p>
					<ul class="social_section_1info">
						<li class="mb-2 facebook"><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li class="mb-2 twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li class="linkedin"><a href="#"><span class="fa fa-linkedin"></span></a></li>
						<li class="pinterest"><a href="#"><span class="fa fa-pinterest"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- //footer -->
	<!-- copyright -->
	<div class="copyright py-3 text-center">
		<div class="container">
			<p class="my-2">
				© 2023 Tüm Hakları Saklıdır |
				<a href="http://w3layouts.com"> W3layouts.</a>
			</p>
		</div>
	</div>
	<!-- copyright -->
	<!-- move top -->
	<div class="move-top text-right">
		<a href="#home" class="move-top">
			<span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
		</a>
	</div>
	<!-- move top -->

</body>
</html>