@model List<Dapper.Portfolio.Application.Dtos.TestimonialDto>
<section class="client py-5" id="testimonials">
	<div class="container py-lg-5">
		<p class="paragraph">Müşteriler Ne Diyor</p>
		<h3 class="heading mb-sm-5 mb-4">Müşteriler</h3>
		<div class="row client-slider-slide">
			@foreach (var item in Model)
			{
			<div class="col-lg-6 col-md-6 w3layouts-txt-says mb-md-0 mb-5">
				<div class="clients-info-grid">
					<p>
						@item.TestimonialContent
					</p>
					<div class="row">
						<div class="col-lg-2 col-3 pr-0 img-position mt-3">
							<img src="~/web/images/t1.png" alt="" class="img-fluid">
						</div>
						<div class=" col-lg-10 col-9 clients-txt-info">
							<h4 class="mt-4">@item.TestimonialName</h4>
							<p>@item.TestimonialTitle</p>
						</div>
					</div>
				</div>
			</div>
			}
		</div>
	</div>
</section>